footer{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    bottom: 0vh;
    left: 0vw;
    background-color: #f0e14a;
    width: 100vw;
    border: 2px solid black;
    box-sizing: border-box;
    h2{
        font-family: $title_font;
        color: $title_font_color;
    }
    img{width: 35px;}
}
div img{display: block;
}

 @media  screen and(min-width:700px){
    
}


@media screen and(min-width:1000px){
* > footer{
    z-index: 5;
}

} 
