@import '_variables';
header{
    display: grid; 
    grid-template-columns: 0.5fr 2fr 1fr;
    text-align: center;
    justify-items: center;
    position: fixed;
    top: 0;
    background-color: $font_color;
    min-height: 8vh;
    width: 100vw;
    z-index: 1;
    box-sizing: border-box;
    border: 2px solid black;
    #title{
        display: grid;
        grid-template-columns: 1fr 4fr;
            h2{display: block;
            font-family: $title_font;
            text-align: center;}
            
            
    }
    a{
        font-family: $content_font;
    }
    
}
#menu{
    user-select: none;
    display: inline-block;
}

#dropdown{
    display: none;
    position: absolute;
    background-color: $background;
    border: solid black;
    border-radius: 12px;
    justify-content: center;
    width: 99vw;
    left: 0;
    top: 5vh;
    font-family: $title_font;
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        li{
            list-style-type: none;
        }
    }
}
#menu:focus-within{
    pointer-events: none;
}
#menu:focus-within #dropdown{
    display: block;
    pointer-events: all;
}


img{
    width: 35px;
}

@media  screen and(min-width:725px){
    
   .is_disabled{
        color: currentColor;
       pointer-events: none;
       text-decoration: none;
       
   }
   

}


@media screen and(min-width:1000px){
    * > header{
z-index: 10;
} 
}