@font-face {
    font-family: Customfont;
    src: url(/fonts/get_schwifty.ttf);
}
$title_font:"Customfont";
$content_font: 'Indie Flower', cursive;

$title_font_color: #34c9dd;
$font_color:#f0e14a;


$background: #e89ac7;
$page_background: #3a4767;
$alternate_background: #f0e14a;


// #3a4767
// #97ce4c