header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr;
      grid-template-columns: 1fr 3fr 2fr;
  justify-items: center;
  position: fixed;
  top: 0;
  background-color: #f0e14a;
  min-height: 8vh;
  width: 100vw;
  z-index: 1;
  /* width: 100vw;
    position: fixed;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas: "img . h1 a";
    justify-content: "start start center end";
    z-index: 10; */
}

header #title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

header #title h2 {
  display: block;
  font-family: "Courgette", cursive;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: blueviolet;
  border: solid black;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15vw;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

img {
  width: 35px;
}

/* @media  screen and(min-width:600px){
    
    .WebSiteHeader{
        display: grid;
        grid-template-columns: auto;}

    #MobileNavButton{z-index: -10;
        opacity: 0;
    }
    #HeaderLogo{
         position: absolute;    
    }
   
   

}


@media screen and(min-width:1000px){

} */
footer {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0vh;
  left: 0vw;
  background-color: #f0e14a;
  width: 100vw;
}

footer h2 {
  font-family: "Courgette", cursive;
}

footer img {
  width: 35px;
}

div img {
  display: block;
}

/* @media  screen and(min-width:600px){
    
}


@media screen and(min-width:1000px){} */
* {
  margin: 0;
  padding: 0;
}

#grid_container {
  display: -ms-grid;
  display: grid;
  background-color: #97ce4c;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 15vh;
}

#info {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-row-gap: 10px;
  top: 10vh;
}

#info #title {
  position: relative;
  height: 5vh;
}

#info #title h3 {
  position: absolute;
  display: inline-block;
  left: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Courgette", cursive;
}

#info #content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-family: "Indie Flower", cursive;
  color: #f0e14a;
  background-color: #e89ac7;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 450px;
  width: 390px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 390px;
}
/*# sourceMappingURL=contact.css.map */