@import '_variables';
@import '_header';
@import '_footer';
*{
    margin:0;
    padding: 0;
}
#grid_container{
    display: grid;
    background-color: $page_background;
    grid-template-rows: 1fr 1fr;
    grid-row-gap:15vh;
    
}
#info{
    position: relative;
    display: grid;
    grid-template-rows: 0.25fr 0.75fr 0.25fr 1.5fr 2fr;
    justify-content: center;
    top: 10vh;
    #title{position: relative;
        height: 5vh;
        justify-content: center;
        h3{
            font-family: $title_font;
            text-align: center;
        }
    }
    #content{display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        font-family: $content_font;
        color: $font_color;
        background-color: $background;
        border: solid black;
        border-radius: 20px;
        padding: 10px;
    }
        // div{
        //     border: solid black;
        //     border-radius: 30px;
        //     padding: 10px;
        //     color: $font_color;
        //     background-color: $Background;};
            
}
.mapouter{
    position:relative;
    text-align:right;
    height:450px;
    width:390px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:450px;
    width:390px;
    iframe{
        width: 390px;
         height: 450px;
        margin: 0; 
        scroll-behavior: none;
        border: none;
    }
}


@media  screen and(min-width:600px){
    #grid_container > #info{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        .one{grid-column: 1;

        }
        .two{
            grid-column: 1/ 1 ;
        
        }
    }
}
