@import '_variables';
@import '_header';
@import '_footer';
*{
    margin:0;
    padding: 0;
}


#grid_container{
    display: grid;
    position: relative;
    top: 8vh;
    grid-template-rows: 0.25fr 5fr;
    background-color: $page_background;
    height: 125vh;
    width: 100%;
    text-align: center;
    justify-items: center;
    
}
// organized to have content_title centered at the top of the page, with the remainder of the space to be fille with the images in a grid system.
// Grid layout is staggered to fit the sizing of height oriented images along with the width oriented images.
section{
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
    row-gap: 10px;
    width: 95%;
    height: 125vh;


}

h3{
    font-family: $title_font;
    color: $title_font_color;
}
// Created a sub grid for the image to have columns within their respective rows. 
// The sauce rick is hidden for the mobile media query.
.img_row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    #sauce_rick{
        display: none;
        z-index: -5;
    }
div{
    background-color: $background;
        border: solid black;
        border-radius: 15px;
        padding: 8px;
        justify-items: center;
        
        img{
            width: 100%;
        }
        
}
}



@media  screen and(min-width:725px){
    
    .image_content{ 
        // Expanded content height for the larger image sizes, created a grid series of columns and rows
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr (min-height 100vh));
        column-gap: 10px;
        height: 150vh;
        // Placed last div (fire_pizza_oven) to a sub grid and placed the items into specific coordinates of parent grid to complete the box of images around the newly visible sauce_rick img
        #fire_pizza_oven{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-start: 2;
            grid-column-end: 4;
        }
        .img_row{
            row-gap: 80px;
            display: block;
            #sauce_rick{
                width: 35vw;
                display: block;
            }
            
        }

    }
}

@media screen and(min-width:1000px){
    // Expanded Page length to fit content for media query change, pushed content_title down to avoid the headers increased height.
    #grid_container{
        height: 250vh;
    }
    
    #content_title{
        position: relative;
        top: 3vh;
    }
    

}