@import '_variables';
@import '_header';
@import '_footer';
*{
    margin:0;
    padding: 0;
}


#grid_container{
    display: grid;
    position: relative;
    top: 8vh;
    grid-template-rows: 0.25fr 5fr;
    background-color: $page_background;
    height: 125vh;
    width: 100%;
    text-align: center;
    justify-items: center;
    
}

section{
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
    row-gap: 10px;
    width: 95%;
    height: 125vh;


}

h3{
    font-family: $title_font;
    color: $title_font_color;
}
.img_row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    #sauce_rick{
        display: none;
        z-index: -5;
    }
div{
    background-color: $background;
        border: solid black;
        border-radius: 15px;
        padding: 8px;
        justify-items: center;
        
        img{
            width: 100%;
        }
        
}
}



@media  screen and(min-width:725px){
    
    .image_content{ 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr (min-height 100vh));
        column-gap: 10px;
        height: 150vh;
        #fire_pizza_oven{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-start: 2;
            grid-column-end: 4;
        }
        .img_row{
            row-gap: 80px;
            display: block;
            float: inline-start;
            #sauce_rick{
                width: 35vw;
                display: block;
            }
            
        }

    }
}

@media screen and(min-width:1000px){

}