header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 1fr;
      grid-template-columns: 0.5fr 2fr 1fr;
  text-align: center;
  justify-items: center;
  position: fixed;
  top: 0;
  background-color: #f0e14a;
  min-height: 8vh;
  width: 100vw;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
}

header #title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

header #title h2 {
  display: block;
  font-family: "Courgette", cursive;
  text-align: center;
}

header a {
  font-family: "Indie Flower", cursive;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: #e89ac7;
  border: solid black;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99vw;
  left: 0;
  top: 5vh;
  font-family: "Courgette", cursive;
}

#dropdown ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#dropdown ul li {
  list-style-type: none;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

img {
  width: 35px;
}

@media screen and (min-width: 725px) {
  .is_disabled {
    color: currentColor;
    pointer-events: none;
    text-decoration: none;
  }
}

@media screen and (min-width: 1000px) {
  * > header {
    z-index: 10;
  }
}

footer {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  bottom: 0vh;
  left: 0vw;
  background-color: #f0e14a;
  width: 100vw;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h2 {
  font-family: "Courgette", cursive;
}

footer img {
  width: 35px;
}

div img {
  display: block;
}

@media screen and (min-width: 1000px) {
  * > footer {
    z-index: 5;
  }
}

* {
  margin: 0;
  padding: 0;
}

#grid_container {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 8vh;
  -ms-grid-rows: 0.25fr 5fr;
      grid-template-rows: 0.25fr 5fr;
  background-color: #97ce4c;
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-items: center;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr 0.5fr)[5];
      grid-template-rows: repeat(5, 1fr 0.5fr);
  row-gap: 10px;
  width: 95%;
}

.img_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.img_row div {
  background-color: #e89ac7;
  border: solid black;
  border-radius: 15px;
  padding: 8px;
  justify-items: center;
}

.img_row div img {
  width: 100%;
}

@media screen and (min-width: 725px) {
  .image_content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .image_content .img_row div {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    position: relative;
  }
}
/*# sourceMappingURL=gallery.css.map */