@import '_variables';
@import '_header';
@import '_footer';
*{
    margin:0;
    padding: 0;
}
#grid_container{
    background-color: $page_background;
    height: 110%;
    
}

section{
    display: grid;
    position: relative;
    top: 9vh;
    grid-template-rows: 1fr 1fr 5fr;
    max-height: 150px;
    row-gap: 10px;
    #title{background-color: $background;
        border: solid black;
        border-radius: 20px;
        padding: 10px;
        h1{
            text-align: center;
        }
       }
}


#menu_categories{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    justify-content: center;
    background-color: $alternate_background;
    border: solid black;
    border-radius: 20px;
    padding: 10px;
    button{
        background-color: $alternate_background;
        border: solid black;
        border-radius: 8px;
    }

    // #dessert_category:hover{
    //     font-size: 1.25em;
    // }
    // #pizza_category:hover{
    //     font-size: 1.25em;
    // }
    // #pasta_category:hover{
    //     font-size: 1.25em;
    // }


}

    .pizza_menu_items{
        display: grid;
        position: relative;
        float: inline-end;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
        #content_shell{background-color: $background;
            border: solid black;
            border-radius: 20px;
            padding: 10px;
        }
        }


input[type=radio]
{
    background-color: white;
}





