@import '_variables';
@import '_header';
@import '_footer';
*{
    margin:0;
    padding: 0;
}
#grid_container{
    background-color: #3a4767;
    height: 170vh;
    box-sizing: border-box;
    
}

section{
    display: grid;
    position: relative;
    top: 9vh;
    grid-template-rows: 1fr 1fr 5fr;
    max-height: 150px;
    row-gap: 10px;
    width: 95vw;
    height: 105vh;

    
    img{
        position: relative;
        left: -10vw;
        top: 3vh;
        min-width: 40vw;
        
        
    }
    #title{
        background-color: $background;
        border: solid black;
        border-radius: 20px;
        padding: 10px;
        width: 70vw;
        box-sizing: border-box;
        position: absolute;
        left: 25vw;
        top: 5vh;
        h1{
            text-align: center;
            color: $font_color;
        }
        
    }
}

// Use of radio function to make the menu item categories only be selectable one at a time. The actual input is hidden and overtop of each specific category name, pizza, pasta, dessert.
input[type=radio]{
    background-color: white;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 70px;
    height: 25px;
    
}
// The contents of .sub are hidden until the user clicks one of the category names
div.sub{
    display: none;
}

div.sub .pizza_content{
    display: all;
}

div.sub .pasta_content{
    display: all;
}

input[type=radio]:checked ~ .sub
{
    display: block;
}


input[type=radio]:hover{
    background-color: $background
}




#menu_categories{
    width: 95vw;
    font-family: $title_font;
    color: $title_font_color;
    ul{
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
        justify-items: center;
        background-color: $alternate_background;
        border: solid black;
        border-radius: 20px;
        padding: 10px;
      .sub{
          .pizza_menu_items, .pasta_menu_items, .dessert_menu_items{
            #content_shell{
                font-family: $content_font;
                color: $font_color;
                p{
                    color: black;
                }
            }
          }
      }  
            
}
}

.sub{
    position: absolute;
    justify-content: center;
    left: 2vw;
    top: 10vh;
    
    .pizza_menu_items{
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2vw;
        box-sizing: border-box;
        

        #content_shell{background-color: $background;
            border: solid black;
            border-radius: 20px;
            padding: 10px;
            width: 40vw;
            font-family: $content_font;
        }
        }

    .dessert_menu_items{
            display: grid;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2vw;
            justify-items: center;
            box-sizing: border-box;
            #content_shell{background-color: $background;
                border: solid black;
                border-radius: 20px;
                padding: 10px;
                width: 40vw;
            }
            }

    .pasta_menu_items{
                display: grid;
                position: relative;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2vw;
                box-sizing: border-box;
                #content_shell{background-color: $background;
                    border: solid black;
                    border-radius: 20px;
                    padding: 10px;
                    width: 40vw;
                }
                }

            }



@media  screen and(min-width:725px){
    #grid_container{
        height: 150vh;
    }
    .sub{
        left: 10vw;
    }
      .pizza_content, .pasta_content, .dessert_content{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 15px;
        left: 0vw;
        width: 80vw;
        .dessert_menu_items, .pasta_menu_items, .pizza_menu_items{
            display: block;
            width: 20vw;
            column-gap: 15px;
            #content_shell{
                width: 20vw;
                
            }
        }
       
    }

}


@media screen and(min-width:1000px){
    #grid_container{
        height: 125vh;
    }

    section{
        display: grid;
        grid-template-rows: 2fr 3fr 1fr;
        grid-template-columns: 1fr 3fr;
    }
    // Changed the position for the menu category while in desktop query
    section > #title{
        display: block;
        width: 60vw;
        left: -5vw;
        grid-column: 2;
        img{position: absolute;
            left: 8vw;
        }
    }
    section > #menu_categories{
        width: 30vw;
        grid-column: 1;
        grid-row: 3;
    }
    
    // with query change the position of the category contents moves to the right of the category selector bar
     .pasta_content, .dessert_content, .pizza_content {
         position: absolute;
        justify-items: center;
        width: 65vw;
        height: 88vh;
        left: 20vw;
        top: -30vh;
        border: 4px solid black;
        border-radius: 15px;
        background-color: $alternate_background;
        column-gap: 0px;

        .dessert_menu_items, .pasta_menu_items, .pizza_menu_items{
            width: 15vw;
            #content_shell{
                width: 15vw;
                
            }
        }
        
    }
    
}

