@font-face {
  font-family: Customfont;
  src: url(/fonts/get_schwifty.ttf);
}

@font-face {
  font-family: Customfont;
  src: url(/fonts/get_schwifty.ttf);
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 1fr;
      grid-template-columns: 0.5fr 2fr 1fr;
  text-align: center;
  justify-items: center;
  position: fixed;
  top: 0;
  background-color: #f0e14a;
  min-height: 8vh;
  width: 100vw;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
}

header #title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

header #title h2 {
  display: block;
  font-family: "Customfont";
  text-align: center;
  color: #34c9dd;
}

header a {
  font-family: "Indie Flower", cursive;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: #e89ac7;
  border: solid black;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99vw;
  left: 0;
  top: 5vh;
  font-family: "Customfont";
}

#dropdown ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#dropdown ul li {
  list-style-type: none;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

img {
  width: 35px;
}

@media screen and (min-width: 725px) {
  .is_disabled {
    color: currentColor;
    pointer-events: none;
    text-decoration: none;
  }
}

@media screen and (min-width: 1000px) {
  header {
    height: 10vh;
    z-index: 10;
  }
  header #title a {
    left: 0;
    position: absolute;
  }
  header #title a img {
    width: 85px;
  }
  header #title h2 {
    -ms-grid-column: 2;
    grid-column: 2;
    font-size: 36px;
    width: 35vw;
  }
  #menu > label > img {
    opacity: 0;
  }
  #dropdown {
    display: inline-block;
    border: none;
    width: 30vw;
    left: 30vw;
    background-color: #f0e14a;
  }
  #dropdown ul {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  #dropdown ul li {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #e89ac7;
  }
  #dropdown ul li a {
    text-decoration: none;
    font-family: "Indie Flower", cursive;
    color: #f0e14a;
  }
}

footer {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  bottom: 0vh;
  left: 0vw;
  background-color: #f0e14a;
  width: 100vw;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h2 {
  font-family: "Customfont";
  color: #34c9dd;
}

footer img {
  width: 35px;
}

div img {
  display: block;
}

@media screen and (min-width: 1000px) {
  * > footer {
    z-index: 5;
  }
}

* {
  margin: 0;
  padding: 0;
}

#grid_container {
  display: -ms-grid;
  display: grid;
  height: 115vh;
  -ms-grid-rows: 2fr 3fr 1fr;
      grid-template-rows: 2fr 3fr 1fr;
  background-color: #3a4767;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  top: 20vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1/2fr 1fr 1fr;
      grid-template-rows: 1/2fr 1fr 1fr;
  row-gap: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  justify-items: center;
  width: 100vw;
}

section img {
  position: absolute;
  display: sticky;
  width: 30vw;
  left: 0;
  top: -12vh;
  z-index: -1;
}

section div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section div h2 {
  text-align: center;
  font-family: "Customfont";
  color: #34c9dd;
  font-size: 30px;
}

section div p {
  border: solid black;
  border-radius: 30px;
  padding: 10px;
  color: #f0e14a;
  background-color: #e89ac7;
  font-family: "Indie Flower", cursive;
  width: 92vw;
}

section div iframe {
  position: absolute;
  width: 92%;
  height: 325px;
  border: solid black;
  border-radius: 30px;
  background-color: #e89ac7;
  padding: 10px;
  left: 0.5vw;
}

@media screen and (min-width: 725px) {
  * #grid_container {
    display: block;
  }
  #content {
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 12vh;
  }
  #content img {
    display: inline;
    position: relative;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    top: -5vh;
    left: -15vw;
    width: 20vw;
  }
  #content div {
    width: 50vw;
  }
  #content div p {
    width: 45vw;
  }
  #video > iframe {
    width: 41vw;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    top: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */