header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 1fr;
      grid-template-columns: 0.5fr 2fr 1fr;
  text-align: center;
  justify-items: center;
  position: fixed;
  top: 0;
  background-color: #f0e14a;
  min-height: 8vh;
  width: 100vw;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
}

header #title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

header #title h2 {
  display: block;
  font-family: "Courgette", cursive;
  text-align: center;
}

header a {
  font-family: "Indie Flower", cursive;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: #e89ac7;
  border: solid black;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99vw;
  left: 0;
  top: 5vh;
  font-family: "Courgette", cursive;
}

#dropdown ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#dropdown ul li {
  list-style-type: none;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

img {
  width: 35px;
}

@media screen and (min-width: 725px) {
  .is_disabled {
    color: currentColor;
    pointer-events: none;
    text-decoration: none;
  }
}

@media screen and (min-width: 1000px) {
  * > header {
    z-index: 10;
  }
}

footer {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  bottom: 0vh;
  left: 0vw;
  background-color: #f0e14a;
  width: 100vw;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h2 {
  font-family: "Courgette", cursive;
}

footer img {
  width: 35px;
}

div img {
  display: block;
}

@media screen and (min-width: 1000px) {
  * > footer {
    z-index: 5;
  }
}

* {
  margin: 0;
  padding: 0;
}

#grid_container {
  display: -ms-grid;
  display: grid;
  height: 115vh;
  -ms-grid-rows: 2fr 3fr 1fr;
      grid-template-rows: 2fr 3fr 1fr;
  background-color: #97ce4c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  top: 10vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1/2fr 1fr 1fr;
      grid-template-rows: 1/2fr 1fr 1fr;
  row-gap: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

section div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section iframe {
  width: 95vw;
}

section h2 {
  text-align: center;
  font-family: "Courgette", cursive;
}

section p {
  border: solid black;
  border-radius: 30px;
  padding: 10px;
  color: #f0e14a;
  background-color: #e89ac7;
  font-family: "Indie Flower", cursive;
  width: 90vw;
}

@media screen and (min-width: 725px) {
  * #grid_container {
    display: block;
  }
  #content {
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #content div {
    width: 50vw;
  }
  #content div p {
    width: 45vw;
  }
  #content #video {
    position: relative;
    top: 15vh;
  }
  #content #video > iframe {
    position: relative;
    float: inline-end;
    border: solid black;
    background-color: #e89ac7;
    left: 5vw;
    padding: 10px;
    border-radius: 15px;
    width: 41vw;
  }
}
/*# sourceMappingURL=style.css.map */