@import '_variables';
@import '_header';
@import '_footer';
*{
    margin:0;
    padding: 0;
    
}
#grid_container{
    display: grid;
    height: 115vh;
    grid-template-rows: 2fr 3fr 1fr;
    background-color: $page_background;
    box-sizing: border-box;

}

section{
    top: 10vh;
    position: relative;
    display: grid;
    grid-template-rows: 1/2fr 1fr 1fr;
    row-gap: 50px;
    box-sizing: border-box;
    width: 100vw;

    div{
        width: fit-content;
    }
        iframe{
            width:95vw;
        };
        h2{
            text-align: center;
            font-family: $title_font;
        };
        p{
            border: solid black;
            border-radius: 30px;
            padding: 10px;
            color: $font_color;
            background-color: $background;
            font-family: $content_font;
            width: 90vw;
        }
            
            
}



@media  screen and(min-width:725px){
    #content{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        
        
    #video{
        position: relative;
        top: 15vh;
    }    
    #video > iframe{
        position: absolute;
        float: inline-end;
        border: solid black;
        background-color: $background;
        left: 5vw;
        padding: 10px;
        border-radius: 15px;
        width: 41vw;
        
        
    }
    
}

}

// @media screen and(min-width:1000px){

// }