@import '_variables';
@import 'header.scss';
@import '_footer';
*{
    margin:0;
    padding: 0;
}
#grid_container{
    display: grid;
    height: 115vh;
    grid-template-rows: 2fr 3fr 1fr;
    background-color: $page_background;
}

section{
    top: 10vh;
    position: relative;
    display: grid;
    grid-template-rows: 1/2fr 1fr 1fr;
    row-gap: 50px;
        iframe{
            width:100vw;
        };
        p{
            border: solid black;
            border-radius: 30px;
            padding: 10px;
            color: $font_color;
            background-color: $background;
            font-family: $content_font};
            
}



// @media  screen and(min-width:600px){
    
// }


// @media screen and(min-width:1000px){

// }